.main-container {
    min-width: 400px;
    min-height: 300px;
    width: 30vw;
    height: 40vh;
    border: 0.5px solid grey;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.headings {
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-heading {
    font-size: 3.5rem;
}

.sub-heading {
    font-size: 2.3rem;
}

.counter-label {
    font-size: 2rem;
}

.button-container {
    width: 100%;
    height: 35px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}